
.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(188, 228, 228);
  background-image: url("../assets/4189694_2238239.jpg");
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px ;
  letter-spacing: 2px;
}






